body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
}

/**** Home Page ****/

#logo {
  width: 220px;
  height: 220px;
  margin: 20px auto;
  background: url('images/photo-logo.png');
  background-position: center center;
  background-size: cover;
  display: block;
}

#home-photo {
  margin: 40px 0 80px 0;
}

#nav-2 {
  text-align: center;
  font-size: 140%;
  font-family: 'Poiret One', cursive;
  padding: 10px;
  position: relative;
  top: 20px;
}

#nav-2 li {
  display: inline-block;
  margin-right: 60px;
  letter-spacing: .125em;
}

.square {
  background-color: #333;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 60px;
}

#main-photo {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 60px;
}

/**** Nav ****/

nav {
  height: 100%;
  width: 400px;
  position: fixed;
  left: -400px;
  top: 0;
  background-color: white;
  z-index: 500;
  padding: 20px;
  text-transform: uppercase;
  overflow-y: scroll;
  transition: all 0.5s ease;
  letter-spacing: .125em;
}

.nav-image {
  margin-bottom: 20px;
}

#close-btn {
  font-size: 700%;
  position: relative;
  bottom: 50px;
  cursor: pointer;
}

nav p:last-of-type {
  margin-top: 40px;
  border-bottom: 2px solid black;
}

nav a:hover {
  text-decoration: none;
}

.tab {
  background-color: black;
  color: white;
  padding: 8px;
  margin: -30px 0;
  cursor: pointer;
}

#second-tab {
  margin-bottom: 20px;
}

#burger-nav {
  cursor: pointer;
  width: 50px;
  position: absolute;
  left: 20px;
  top: 26px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px auto;
}

#sidebar-logo {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 20px;
}

/**** Header ****/

#header-icons {
  font-size: 200%;
  position: absolute;
  right: 60px;
  top: 30px;
}

#header-icons a {
  margin: 0 8px;
  color: #333;
}

header {

}

/**** Galleries ****/

.first {

}

.second {
  margin-top: 20px;
}

.gallery-image {
  cursor: pointer;
}

.gallery {
  height: 860px;
}

/**** Footer ****/

footer {
  height: 200px;
  background-color: #ddd;
  font-family: 'Poiret One', cursive;
  text-align: center;
}

footer h2 {
  display: block;
  position: relative;
  top: 40px;
  letter-spacing: .125em;
  text-transform: uppercase;
}

footer p {
  position: relative;
  top: 40px;
  letter-spacing: .2em;
}

#footer-icons {
  font-size: 200%;
  position: relative;
  top: 40px;
}

#footer-icons a {
  margin: 0 8px;
  color: #333;
}

/**** Modal ****/

#modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0, 0.9);
}

#modal-image {
  margin: auto;
  display: block;
  width: 60%;
  height: auto;
}

#close-modal {
  font-size: 800%;
  color: white;
  position: absolute;
  top: 0px;
  right: 100px;
  cursor: pointer;
}

/**** About/Contact ****/

.about {
  margin-bottom: 100px;
}

.about-text {
  font-size: 130%;
  text-align: left;
  letter-spacing: .025em;
}

.about-text p {
  width: 90%;
}
.contact {
  height: 300px;
}

.contact i {
  font-size: 380%;
  margin-bottom: 20px;
  color: #333;
}

.contact p {
  font-size: 180%;
  letter-spacing: .125em;
}

#headshot {
  border: 2px solid black;
  padding: 4px;
}

/**** Misc ****/

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.noscroll {
  overflow: hidden;
}

hr {
  width: 200px;
  position: relative;
  bottom: 10px;
  margin-bottom: 80px;
}

.title {
  text-transform: uppercase;
  letter-spacing: .125em;
}

.expand {
  font-size: 120%;
  position: relative;
  bottom: 20px;
  letter-spacing: .125em;
}
